---
layout: default
title: Osteopathy for Babies
order: 2
class: babies
keywords: Babies osteopathy, Baby osteopathy, Osteopath London, osteopaths Central London osteopathy clinic
description: "Baby Osteopathy: Osteopathy for Babies, Osteopath London, W1G 8QH 020 7436 9007"
---

<div id="content">
  <header>
    <img class="header-image" src="/assets/images/Baby.jpg" width="1170" height="481" />
  </header>
  <section id="intro">
    <div class="container">
      <h1 class="header-lines">Osteopathy for Babies</h1>
    </div>
  </section>
  <section id="description">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p>Using a finely developed sense of palpation we assess newborn babies for stresses and strains following the birth. Gentle&nbsp;<a href="/cranialosteopathy.html">cranial osteopathic techniques</a>&nbsp;are then applied to help release the strains and resolve symptoms naturally.</p>
          <p>In the practice we do a post-natal check up for mother and baby. (please book an hour for treatment). If there is a problem babies are typically seen between 4 and 6 times.</p>
          <p>Passing through the birth canal is a stressful experience for the baby. Babies' heads are made up of 22 bones which overlap and mould during this process. Immediate signs that may be seen from moulding that does not release are sticky eyes, poor latching to the breast, irritability or babies that want to be held all the time.</p>
          <p>Babies born by caesarian section have different problems some are in shock and can be very irritable. Caesarian section babies tend to be more mucusy than babies who were born by vaginal delivery because they had no compression through the chest. This can result in ongoing multiple infections of the ear nose throat and chest.</p>
          <p>If the moulding is not released problems can arise such as colic, sleeplessness, teething pain, flat heads or glue ear.</p>
          <p><strong>Feeding problems</strong></p>
          <p>If your baby is not latching onto the breast this may be caused by a lack of rotation in the neck. Compression at the back of the neck whilst the baby emerges from the birth canal may affect the nerves to the tongue and mouth. The osteopath will make an assessment and if required use gentle techniques to release the compression and strains that limit the rotation of the neck.</p>
          <p><strong>Postural problems and flat heads</strong></p>
          <p>All parents should observe their baby's neck movements to ensure they are comfortably able to look both ways and sleep with their head both ways. If not, bring the baby in for an osteopathic examination and treatment. (The sooner the better, babies are much easier to treat when they are weeks rather than months old). If the baby sleeps on only one side a flattening of the head (plagiocephaly) may result.</p>
          <p><strong>Colic, wind, reflux and constipation</strong></p>
          <p>Although this is mainly experienced as abdominal pain, other signs may be difficulty winding, regurgitation and constipation but mainly there is inconsolable crying for many hours. During delivery the nerve to the stomach and diaphragm which lies at the base of the skull can be compressed, resulting in distortion of the diaphragm compromising the digestive system. Osteopathic treatment is focused on releasing the compression on the nerves and the diaphragm. Very young babies can be tense and unrelaxed and when they start crying are unable, due to their immature nervous and emotional states, to stop. Parents report that cranial osteopathy often helps the babies to relax.</p>
          <p><strong>Glue ear</strong></p>
          <p>Glue ear is caused by fluids collecting in the eustachian tube. As the fluid collects it is not only a potential site for infection but hearing can become affected.</p>
          <p>The aim of osteopathic treatment is to drain the fluids throughout the face, throat, chest and neck.</p>
          <p>Treatment depends very much on the individual patient but most children are given about 6-8 treatments and then monthly for 2-3 months and then once a year at the start of winter.</p>
          <p>We treat older children with back pain, neck pain and other musculoskeletal symptoms. It is a good idea to bring your child to the osteopath around the age of 8 for a postural assessment. We can often sort out any aches and pains as well as teach them about good posture and exercise.</p>
        </div>
        {% include babies-help.html %}
      </div>
    </div>

  </section>

  {% include appointment.html %}
</div>
