---
layout: default
title: Children's Osteopathy
order: 2
class: childrenosteopathy
keywords: Children Osteopathy, Child Osteopath, Osteopath London, osteopaths Central London osteopathy clinic
description: "Children's Osteopathy: Osteopathy for Children, Osteopath London, W1G 8QH 020 7436 9007"
---

<div id="content">
  <header>
    <img class="header-image" src="/assets/images/Baby.jpg" width="1170" height="481" />
  </header>
  <section id="intro">
    <div class="container">
      <h1 class="header-lines">Children's Osteopathy</h1>
    </div>
  </section>
  <section id="description">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p>Kane and Ross Clinics practice osteopathy for children on a daily basis.  &nbsp;The first consultation will last an hour. &nbsp;A full case history, an  examination and treatment will be given during the first consultation. &nbsp;A  treatment plan will be discussed and paediatrician, GP or other specialist may  be integrated into the plan. At Kane and Ross we work closely with other health  care professionals to provide an integrated approach for the children and  babies. &nbsp;Osteopathic treatment may involve cranial and structural  techniques and children and babies are often relaxed during treatment.</p>
          <p>Some of the most common conditions that we see are:</p>
          <h4>Ear problems</h4>
          <p>Glue ear and osteopathy. &nbsp;Glue ear is fluid in the middle ear caused  by poor drainage of the face. &nbsp;Osteopathy helps to drain the fluid in the  eustachian tube by gentle techniques to open the area so that it can drain.  &nbsp;This may involve techniques locally around the ear as well as to the  lymphatics, upper ribs and face. Children with glue ear need a course of treatment  and then need 2-3 treatments a year until the age of 7. &nbsp;By keeping the  fluid draining it prevents stasis of the fluids and therefore reduces ear  infections. You can read more on this on our <a href="http://kaneandross.wordpress.com/2013/04/16/a-little-story-about-ear-infections/">blog</a>.</p>

          <h4>Continuous coughs/colds and osteopathy</h4>
          <p>Some children are very narrow through the face which is exaggerated by a  high palate in the roof of their mouths. &nbsp;This prevents fluid drainage.  &nbsp;Osteopathy helps open these spaces so that children with continuous  coughs and colds can drain better. &nbsp;Children will get coughs and colds but  the aim of osteopathy is that the symptoms will last 3-4 days rather than 3-4  weeks.</p>
          <h4>Osteopathic treatment for Childrens back pain, headaches, neck pain -  Musculo-skeletal Problem</h4>
          <p>Children do experience aches and pains. &nbsp;Children do get back pain and  headaches and a child who is complaining frequently of aches and pains should  be examined. &nbsp;Treatment is similar to that of an adult but more gentle.  &nbsp;Diagnosis is important to find out why the child is experiencing pain and  it may not be coming from the area of symptoms. &nbsp;Often a child with back  pain may have a scoliosis or a foot or knee problem, the problem areas  &nbsp;are often not in the area where they are experiencing the pain.</p>
          <h4>Children and Teenager Posture and Osteopathy</h4>
          <p>For children and teenagers posture is important, not only to reduce pain  but also for presentation, interviews, and communication. &nbsp;All children  over the age of 8 who visit Kane and Ross Clinics are taught about posture both  sitting and standing. &nbsp;Sitting posture is particularly important due to  their long hours they spend in front of i-pads, laptops and computers. &nbsp;</p>
          <p>Simone Ross contributed to an article on <a href="/assets/images/Times Simone Ross.pdf">neck, shoulder and back pain in children</a> in The Times in 2013.</p>
        </div>
        {% include babies-help.html %}
      </div>
    </div>

  </section>

  {% include appointment.html %}
</div>
