---
layout: default
title: Diagnostic Ultrasound
order: 2
class: diagnosticultrasound
keywords: Diagnostic ultrasound, muscular, joint pain, Osteopath, Osteopath London, back pain relief, osteopaths Central London osteopathy clinic
description: "Diagnostic ultrasound for muscular and joint conditions, Osteopath London, back pain relief, osteopaths Central London osteopathy clinic"
---

<div id="content">
  <header>
    <img class="header-image" src="/assets/images/Diagnostic-ultrasound.jpg" />
  </header>
  <section id="intro">
    <div class="container">
      <h1 class="header-lines">Diagnostic Ultrasound</h1>
    </div>
  </section>
  <section id="description">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p>  Ultrasound is an excellent tool for the&nbsp;assessment of  variety of muscular and&nbsp;joint conditions. Providing real time images for a  clear picture of&nbsp;tendons, ligaments, muscle and nerves&nbsp;which  don&rsquo;t show up well on x-ray.&nbsp; It has certain advantages over MRI such as  the structures can be viewed both at rest and in motion which can enable more  accurate diagnosis.&nbsp;It is a quick, safe, painless procedure&nbsp;that  enables the osteopath to accurately diagnose problems of the soft tissues. </p>
          <p>It can be particularly helpful in establishing an accurate  diagnosis of shoulder problems as pain in the shoulder region may come from the  shoulder joints, the muscles and tendons surrounding the joint (rotator cuff)&nbsp;&nbsp;or  the cervical or dorsal spine musculature, joints and nerves.&nbsp;&nbsp;The  treatment and prognosis will be very different dependent upon which tissues are  affected. </p>
          <p><strong>Shoulder</strong>&nbsp;-rotator  cuff problems -tears&nbsp;inflammation, bursitis,&nbsp;tendinitis, impingement</p>
          <p><strong>Elbow</strong>&nbsp;-  tendon problems such as tennis or golfers elbow (not only in tennis or golf  players) </p>
          <p><strong>Wrist/Hand</strong>&nbsp;&nbsp;-carpal  tunnel syndrome, repetitive strain injuries,&nbsp;ganglion cysts, arthritis, </p>
          <p><strong>Hip</strong>&nbsp;-  hernia, bursitis, tendon problems, arthritis, </p>
          <p><strong>Knee</strong>&nbsp;-  problems of the tendons, ligaments, bursa, bakers cyst, signs of&nbsp;meniscal  damage </p>
          <p><strong>Ankle</strong>&nbsp;-&nbsp;achilles  tendon: tears and inflammation, tenosynovitis, arthritis, ligament damage </p>
          <p><strong>Foot</strong>-  plantar&nbsp;fasciitis, morton&rsquo;s neuroma, arthritis, tendinitis </p>
        </div>
        {% include how-we-can-help.html %}
      </div>
    </div>

  </section>

  {% include appointment.html %}
</div>
