---
layout: default
title: Osteopathy Advice for Heartburn
order: 2
class: heartburn
keywords: Osteopath London, heartburn relief, osteopaths Central London osteopathy clinic
description: "Osteopathy advice for heartburn relief, osteopaths Central London osteopathy clinic W1G 8QH 020 7436 9007"
---

<div id="content">
  <header>
    <img class="header-image" src="/assets/images/Massagee.jpg" width="1419" height="481" />
  </header>
  <section id="intro">
    <div class="container">
      <h1 class="header-lines">Avoiding painful ribs and heartburn during pregnancy</h1>
    </div>
  </section>
  <section id="description">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p>During pregnancy the ribs become stretched by the expanding uterus, this can sometimes cause pain especially if there is a restriction in the spine where the ribs articulate. Osteopathic treatment can be very helpful in relieving these symptoms. Rib pain and heartburn can also be a result of a restriction in the diaphragm. This can be diagnosed and treated by our osteopaths.</p>
          <p>Simple exercise to relieve heartburn and rib pain:</p>
          <ul>
            <li>Stand upright, and reach up over your head holding a broom keep the arms straight. Side bend to 2 o'clock to the left and to 11 o'clock to the right. Breathe into the lower stretched ribs.</li>
          </ul>
          <p>If you have heartburn, avoid coffee tea and peppermint. Eat small meals regularly and not too late at night. If necessary eat just soup and ice-cream at night. A walk after dinner can also help.            </p>
        </div>
        {% include pregnancy-links.html %}
      </div>
    </div>

  </section>

  {% include appointment.html %}
</div>
