---
layout: default
title: Lower Back Pain
order: 2
class: postnatal
keywords: Osteopath London, lower back pain relief, osteopaths Central London osteopathy clinic
description: "Lower back pain relief, Osteopath London, osteopaths Central London osteopathy clinic W1G 8QH 020 7436 9007"
---

<div id="content">
  <header>
    <img class="header-image" src="/assets/images/Massagee.jpg" width="1419" height="481" />
  </header>
  <section id="intro">
    <div class="container">
      <h1 class="header-lines">Lower back pain</h1>
    </div>
  </section>
  <section id="description">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p>Osteopathic treatment can prevent or relieve this common problem.</p>
          <p>Be careful lifting the baby especially out of the cot, pram and off the floor. When lifting, bend your knees and try not to twist. Hold in your deep abdominal muscles. Whilst lifting the baby in and out of the car put one foot up on the car.</p>
          <p>Try to use a changing table or a chest of drawers for changing clothes/nappies. Use a bath seat for the baby.</p>
          <p>Start doing pelvic floor exercises immediately after the baby is born. Walk daily with the baby in the pram (do not lean into the pram), walk tall and hold in your abdominal muscles and your pelvic floor. If you have a weak pelvic floor it is not advisable to start any more aggressive abdominal exercises than a tummy tuck.						</p>
        </div>
        {% include post-natal-menu.html %}
      </div>
    </div>

  </section>

  {% include appointment.html %}
</div>
