---
layout: default
title: Neck Pain
order: 2
class: neckpain
keywords: Neck pain, Osteopath, Osteopath London, osteopaths Central London osteopathy clinic
description: "Osteopathy help for neck pain, Osteopath London, osteopaths Central London osteopathy clinic"
---

<div id="content">
  <header>
    <img class="header-image" src="/assets/images/Massagee.jpg" width="1419" height="481" />
  </header>
  <section id="intro">
    <div class="container">
      <h1 class="header-lines">How can Kane and Ross osteopaths help neck pain?</h1>
    </div>
  </section>
  <section id="description">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p>Step one is a proper assessment as neck pain has many causes, ranging from  muscle tension to disc prolapses.&nbsp;&nbsp;</p>
          <p>On the basis of a detailed history and thorough osteopathic examination your  practitioner will establish what is causing the pain, why it has occurred and  perhaps most&nbsp;importantly what can be done to <strong>alleviate the pain and  prevent it coming back.</strong></p>
          <p>There are many causes of neck pain. Amongst the most common are tension  patterns caused by <strong>poor postural habits and minor joint and muscle restrictions</strong> that have not released&nbsp;naturally through exercise and rest. &nbsp;These  restrictions become established and not uncommonly it is a minor incident such  as sleeping awkwardly or lifting that sets off the symptoms - the&nbsp;straw  that broke the camel's back. &nbsp;Of course sometimes the cause is quite  clearly from trauma, which can make the diagnosis easier.</p>
          <p>It is equally important to identify those cases that are not likely to be  helped by osteopathy and need further interventions or even surgery. &nbsp;Kane  and Ross osteopaths will make use of x-rays,&nbsp;scans and blood work to  identify whether a specialist referral is required or what treatments or activities  to avoid.&nbsp;</p>
          <p>Certainly most cases of neck pain can be helped if not cured by osteopathic  treatment. &nbsp;A range of gentle hands-on techniques are used to <strong>release  tension patterns and restrictions</strong> from&nbsp;very gentle 'cranial techniques',  positional release, neuromuscular techniques to manipulation where appropriate.  &nbsp;It is central to an osteopath's training that they look at the system as  a&nbsp;whole and not just the neck in isolation. &nbsp; This may lead to work  being done further down <strong>the spine</strong> or <strong>core stabilising muscles</strong>.</p>
          <p>Fast effective pain relief may be the first objective but we also want to  identify underlying causes, whether that be poor work station set-up, lack of  exercise or even the wrong kind of&nbsp;exercise. &nbsp;Once we understand what  the causes or contributing factors are, we will work with you to put together a  <strong>manageable exercise regime</strong> - stretching, strengthening and  rebalancing&nbsp;muscle function.</p>
          <p>So from diagnosis to effective management to prevention our aim is to get you  moving and in control, rather than being controlled by neck pain.</p>
        </div>
        {% include how-we-can-help.html %}
      </div>
    </div>

  </section>

  {% include appointment.html %}
</div>
