---
layout: default
title: Osteopathic Problems
order: 2
class: osteopathicproblems
keywords: Osteopath London, back pain relief, neck pain, osteopaths Central London osteopathy clinic
description: "Back Pain, Neck Pain and Gerneral Osteopathic Problems: Treatment at London osteopath, Central London osteopathy clinic W1G 8QH 020 7436 9007"
---

<div id="content">
  <header>
    <img class="header-image" src="/assets/images/Massagee.jpg" width="1419" height="481" />
  </header>
  <section id="intro">
    <div class="container">
      <h1 class="header-lines">General Osteopathic Problems</h1>
    </div>
  </section>
  <section id="description">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p><strong>Back pain and neck pain</strong></p>
          <p>More than half of our patients suffer low back pain or neck pain.</p>
          <p>Osteopathy, with its comprehensive approach to healthcare, is a particularly successful when treating neck and back pain.</p>
          <ul>
            <li>Degenerative conditions - osteoarthritis</li>
            <li>Structural problems - scoliosis</li>
            <li>Neurological problems - nerve pain in arms or legs referred from the low back or neck</li>
            <li>Postural problems - achy muscles, ligamentous strain, prolapsed discs, facet joint irritation</li>
          </ul>
          <p><strong>Hip, knee and foot pain</strong></p>
          <ul>
            <li>Degenerative conditions - osteoarthritis</li>
            <li>Neurological problems - either locally or referred from the low back</li>
            <li>Postural problems - achy muscles, bursitis</li>
            <li>Sporting injuries - meniscal and ligamentous damage</li>
          </ul>
          <p><strong>Elbow, wrist and hand pain</strong></p>
          <ul>
            <li>Degenerative conditions - osteoarthritis, frozen shoulder</li>
            <li>Structural problems - carpel tunnel syndrome, tendonitis</li>
            <li>Postural problems - achy muscles</li>
            <li>Neurologicial pain - either locally or referred from the neck</li>
            <li>Sporting injuries - tennis elbow, ligamentous or muscular damage</li>
          </ul>
        </div>
        {% include how-we-can-help.html %}
      </div>
    </div>

  </section>

  {% include appointment.html %}
</div>
