---
layout: default
title: Osteopathy and the Pelvic Floor
order: 2
class: postnatal
keywords: Pelvic floor, Osteopath, Osteopath London, osteopaths Central London osteopathy clinic
description: "Osteopathy and the pelvic floor, Osteopath London, osteopaths Central London osteopathy clinic W1G 8QH 020 7436 9007"
---

<div id="content">
  <header>
    <img class="header-image" src="/assets/images/Massagee.jpg" width="1419" height="481" />
  </header>
  <section id="intro">
    <div class="container">
      <h1 class="header-lines">Osteopathy and the pelvic floor</h1>
    </div>
  </section>
  <section id="description">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p>Wetting yourself is probably the most embarrassing problem after childbirth and during pregnancy. It's no joke that you cannot run for that bus or do not feel free to laugh, sneeze or cough without the thought that you may leak.</p>
          <p>During pregnancy and childbirth the pelvic floor becomes stretched due to the extra weight and delivery of the baby. This frequently results in weakness in the muscles. It may also be scarred due to tearing or an episiotomy given during childbirth.</p>
          <p>The pelvic floor works as a muscular sling to carry all the pelvic organs such as the bladder, the uterus and the lower part of the bowel. It surrounds the anus and the urethra giving bladder and bowel control. It also surrounds the vagina, so when it is strong it can improve your sex life.</p>
          <p>One test to see if your pelvic floor function is adequate is to jump up and down and cough at the same time, with your legs open without leaking urine.</p>
          <p>Problems with your pelvic floor muscles are not uncommon during pregnancy and after childbirth. There are 3 common symptoms women experience:</p>
          <ul>
            <li>Urinary stress incontinence, leaking urine when coughing, sneezing, running or lifting. This may occur during pregnancy as well as in the post-natal period.</li>
            <li>Dull pain or dragging feeling in the pelvis, low back or under the buttocks, there may or may not be aching down the legs. This may be due to scarring or muscular weakness, it usually occurs in the evening when mothers are tired.</li>
            <li>Pain or lack of pleasure during sexual intercourse, pain may be due to internal scarring and lack of pleasure may be due to the weakness in the vaginal walls.</li>
          </ul>
          <p>If you are experiencing any of these symptoms during pregnancy or three months after childbirth, it is recommended that you seek help.</p>
        </div>
        {% include post-natal-menu.html %}
      </div>
    </div>

  </section>

  {% include appointment.html %}
</div>
