---
layout: default
title: Posture Help
order: 2
class: posture
keywords: Posture, postural, posture help, osteopath, Osteopath London, osteopaths Central London osteopathy clinic
description: "Posture help, Osteopath London, osteopaths Central London osteopathy clinic W1G 8QH 020 7436 9007"
---

<div id="content">
  <header>
    <img class="header-image" src="/assets/images/Massagee.jpg" width="1419" height="481" />
  </header>
  <section id="intro">
    <div class="container">
      <h1 class="header-lines">Postural advice during pregnancy</h1>
    </div>
  </section>
  <section id="description">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p><strong>Standing</strong></p>
          <p>Try not to stand in one position for too long. Hold your head high. Do not stick your bump out or wear high heels!</p>
          <p>Sitting</p>
          <p>The pelvis should be above the knees so use a small towel or cushion under your buttocks. Your buttocks should be right at the back of the chair and your feet should be on the floor (this will be difficult if the chair is too large for you). At the office use the tilt on the base of the chair. If the pelvis is in a good position the spine naturally follows. Get up regularly every 20 minutes.</p>
          <ul>
            <li>Try not to cross your legs as it slows the return of the blood back up to the heart and causes varicose veins.</li>
            <li>On the sofa don't slump, lie on your side if you are watching the television or relaxing.</li>
          </ul>
          <p><strong>Lying in bed</strong></p>
          <p>This is a difficult one. During the late stages of pregnancy you can get pretty uncomfortable due to the extra weight and being static for such long periods.</p>
          <p>Lie on your side. Put a pillow between your legs and a small pillow under your bump, to fill the space between it and the bed. This stops torsion going through the spine. If you are getting hip pain a duvet under the sheet can help.</p>
          <p><strong>Around the house</strong></p>
          <p>If you have back pain anything in mid bending position will hurt and damage the back such as:</p>
          <ul>
            <li>Emptying the dishwasher - kneel down empty the dishes onto a surface and then put them away.</li>
            <li>Making beds. - kneel on the floor.</li>
            <li>Vacuuming - try and get someone else to do it!</li>
          </ul>
          <p>Lift carefully bend your knees and lift and DO NOT lift and twist.</p>
        </div>
        {% include pregnancy-links.html %}
      </div>
    </div>

  </section>

  {% include appointment.html %}
</div>
