---
layout: default
title: Post Natal Osteopathy
order: 2
class: postnatal
keywords: Post-natal, Osteopath London, osteopaths Central London osteopathy clinic
description: "Post Natal Osteopathy: Osteopath London, post natal pain relief, osteopaths Central London osteopathy clinic W1G 8QH 020 7436 9007"
---

<div id="content">
  <header>
    <img class="header-image" src="/assets/images/Massagee.jpg" width="1419" height="481" />
  </header>
  <section id="intro">
    <div class="container">
      <h1 class="header-lines">Post Natal Osteopathy</h1>
    </div>
  </section>
  <section id="description">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p>We recommend an osteopathic check up for mother and&nbsp;<a href="/babies.html">baby</a>&nbsp;if the labour has been very long or very rapid, or if the baby has been delivered using ventouse, forceps or caesarean section. This check-up is preferably done 2-3 weeks post delivery. (Please book an hour for both mother and baby).</p>
          <p>Most of the osteopaths in the practice are parents and therefore are all very aware of the struggles and exhaustion that the first few months of parenthood bring!! (We will often treat the fathers too).</p>
          <p>After the birth we will check whether the mother's pelvis has repositioned itself, and may also give specific exercises to strengthen the pelvic floor. This can help prevent problems of incontinence, pain during sexual intercourse and back pain. We will also review feeding posture for the mother and give tips for sleeping, feeding routines etc. If necessary we can refer you to lactation specialists, or back to your doctor or health visitor.</p>
          <p>Unfortunately due to long hours of carrying and feeding mothers or fathers often experience back pain or neck pain at this time. It is advisable to be treated as soon as possible to prevent a continuous problem arising. Many mothers whilst feeding will have treatment approximately once a month to prevent symptoms arising.</p>
        </div>
        {% include post-natal-menu.html %}

      </div>
    </div>

  </section>

  {% include appointment.html %}
</div>
