---
layout: default
title: Osteopathy During Pregnancy
order: 2
class: pregnancy
keywords: Osteopath London, pregnancy, osteopaths Central London osteopathy clinic
description: "Osteopathy During pregnancy: Osteopath London, pregnancy pain relief, osteopaths Central London osteopathy clinic W1G 8QH 020 7436 9007"
---

<div id="content">
  <header>
    <img class="header-image" src="/assets/images/Baby.jpg" width="1170" height="481" />
  </header>
  <section id="intro">
    <div class="container">
      <h1 class="header-lines">Osteopathy in Pregnancy</h1>
    </div>
  </section>
  <section id="description">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p>Osteopathic care during pregnancy helps to relieve or prevent symptoms enabling women to feel pain free, relaxed and energetic. Pain in pregnancy is common but NOT normal and CAN be treated effectively and usually quite quickly.</p>
          <p>When there are previous stresses or strains on the body prior to pregnancy the body may not be able to adapt to the extra demands so easily, resulting in symptoms such as&nbsp;back pain, sacro-iliac pain, pubic or groin pain, rib pain, indigestion, or shortness of breath.</p>
          <p>If you are getting any of these symptoms it's a good idea to consult an osteopath who specialises in pregnancy.&nbsp;AFTER TREATMENT WITH ONE OF OUR OSTEOPATHS, SYMPTOMS ARE USUALLY REDUCED AFTER 2-3 TREATMENTS.</p>
          <div class="right-quote">

            <blockquote><p>Simone has always been the first port of call for nearly all of the pregnant  women I look after who get bad&nbsp;backs and associated discomfort in the  legs, shoulders and joints.&nbsp;</p>
              <p>She has looked after hundreds, if not thousands of women for me over the years and has always been a wonderful support.</p>
              <p>Patients have always found it very worthwhile seeing her for treatment.</p>
              <footer><cite>Jeffrey Braithwaite</cite>, Consultant Obstetrician & Gynaecologist, Portland Hospital</footer></blockquote>

          </div>
          <p><strong>Specialist musculoskeletal care throughout pregnancy</strong></p>
          <p>Patients who are painfree are checked by our osteopaths once a month especially towards the end of the pregnancy. If they develop symptoms we treat as required. Osteopathic treatment is beneficial and safe during all stages of pregnancy and helps prepare your body for labour.</p>
          <p>We assess each patient individually and provide gentle relief of symptoms using cranial and structural osteopathic techniques. We can also provide advice on exercise and posture specific to your problem, which can enable you to relieve your symptoms at home.</p>
          <p>We use an integrated approach to healthcare during your pregnancy and may work with your midwife, obstetrician, exercise instructor or ante-natal teachers to provide information on your symptoms so that special care can be taken during your delivery or during your exercise classes.</p>
          <p><strong>Preparation for labour</strong></p>
          <p>At 37 to 38 weeks pregnant we like to do a special appointment for the pregnant women in the practice. This is to check the mobility of the pelvis, particularly the movement of the sacrum which has to move a considerable amount during delivery. During this session our osteopaths will teach you breast feeding posture for the mother. (You will be taught posture and latching for the baby by your midwife). This is particularly important to prevent the all too common neck or back pain post-natally. Advice in this session is also given for the perineum and pelvic floor and positions for labour if there is a history of back problems.</p>
          <p><strong>Breech babies</strong></p>
          <p>Acupuncture can often encourage babies to turn. Treatment should be given between 32 and 36 weeks.</p>
        </div>
        {% include pregnancy-links.html %}
      </div>
    </div>

  </section>

  {% include appointment.html %}
</div>
