---
layout: default
title: Groin and pubic pain during pregnancy
order: 2
class: pubicpain
keywords: Groin pain, pubic pain, pregnancy, osteopath, Osteopath London, osteopaths Central London osteopathy clinic
description: "Osteopathy advice on groin and pubic pain during pregnancy, Osteopath London, osteopaths Central London osteopathy clinic W1G 8QH 020 7436 9007"
---

<div id="content">
  <header>
    <img class="header-image" src="/assets/images/Massagee.jpg" width="1419" height="481" />
  </header>
  <section id="intro">
    <div class="container">
      <h1 class="header-lines">Groin and pubic pain during pregnancy</h1>
    </div>
  </section>
  <section id="description">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p>This can be cause local tenderness over the pubic bone and can refer pain down the inside of the legs or it can be caused by back or pelvic pain. It is a good idea to have it assessed by an ostepath to establish the cause.</p>
          <ul>
            <li>Don't cross your legs.</li>
            <li>When getting out of bed or a car keeps your legs together.</li>
            <li>Sit well.</li>
            <li>In the evening a large sarong tied under your bump may help.</li>
            <li>Use a side-lying position for sex.</li>
          </ul>
        </div>
        {% include pregnancy-links.html %}
      </div>
    </div>

  </section>

  {% include appointment.html %}
</div>
