---
layout: default
title: Shoulder Pain
order: 2
class: shoulderpain
keywords: Osteopath London, shoulder pain relief, osteopaths Central London osteopathy clinic
description: "Osteopathy help for shoulder pain, Osteopath London, shoulder pain relief, osteopaths Central London osteopathy clinic"
---

<div id="content">
  <header>
    <img class="header-image" src="/assets/images/Massagee.jpg" width="1419" height="481" />
  </header>
  <section id="intro">
    <div class="container">
      <h1 class="header-lines">How can Kane and Ross osteopaths help shoulder pain?</h1>
    </div>
  </section>
  <section id="description">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <p>Shoulder  pain is a common symptom with a variety of causes. At Kane and Ross  Clinics the first step to effective treatment is accurate diagnosis. Following a careful history and using a range of clinical tests, we will  employ the finely honed hands-on methods of osteopathy to establish which  tissues are causing the pain as well as any underlying factors such as muscle  or joint imbalances that predispose or maintain the problem. It is  important to differentiate when the problem might be&nbsp;coming from the neck  or the shoulder joint itself. Treatment is designed to alleviate the  symptoms as well as correct any underlying imbalances.&nbsp;</p>
          <p>  At Kane and Ross we utilise diagnostic ultrasound within the practice to establish whether the problem is coming from the rotator cuff or other tissues  surrounding the shoulder. </p>
          <p>If further investigations are required we will refer for x-ray, MRI or blood  tests.</p>
        </div>
        {% include how-we-can-help.html %}
      </div>
    </div>

  </section>

  {% include appointment.html %}
</div>
