<footer class="site-footer">

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img class="footer-logo" src="/assets/images/KRlogo-lines.png" width="341" height="211" />
      </div>
      <div class="col-md-5 col-md-offset-1">
        <ul class="nav">
          <li><a href="/">Home</a> </li>
          <li><a href="/about.html">About Kane and Ross</a> </li>
          <li><a href="/testimonials.html">Testimonials</a></li>
          <li><a href="/appointments.html">Appointments</a></li>
          <li><a href="/practitioners.html">Practitioners</a></li>
          <li><a href="http://kaneandross.wordpress.com/" target="_blank">Blog</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <div class="footer-links">
          <a class="phone" href="tel:+4420 7436 9007">020 7436 9007</a>
          <a class="mail" href="mailto:info@kaneandrss.co.uk">Contact Us</a>
        </div>
      </div>
      <div class="col-md-8 col-md-offset-4 footer-line">
        <p class="copy">&copy; 2016 Kane & Ross Clinics</p>
      </div>
    </div>
  </div>

</footer>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/javascripts/bootstrap.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/javascripts/bootstrap/collapse.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/javascripts/bootstrap/transition.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/javascripts/bootstrap/popover.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/javascripts/bootstrap/dropdown.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/javascripts/bootstrap/modal.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/javascripts/bootstrap/tab.js"></script>
