<header class="site-header" role="banner">

  <div class="wrapper">
    <div id="banner">
      <div class="container">
        <div id="logo">
          <a class="site-title" href="/"><img src="/assets/images/osteopath-london-logo.png" alt="London Osteopath Logo" width="300" height="181" /></a>
        </div>
        <div id="contact" class="clearfix">
          <div id="address">
            <p class="address">39 Harley Street, London W1G 8QH</p>
            <p class="address">73 Courtfield Gardens, London SW5 0NL</p>
          </div>
          <div id="tel">
            <div class="td">
              <p><a class="phone" href="tel:+4420 7436 9007">020 7436 9007</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include testimonials.html %}

    <nav class="navbar navbar-default">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="container">
          <ul class="nav navbar-nav">
            <li><a class="page-link" href="/">Home</a></li>
            <li>
              <a href="/services.html" class="page-link dropdown-toggle">Services <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a class="page-link" href="/backpain.html">Back Pain</a></li>
                <li><a class="page-link" href="/neckpain.html">Neck Pain</a></li>
                <li><a class="page-link" href="/shoulder-pain.html">Shoulder Pain</a></li>
                <li><a class="page-link" href="/osteopathicproblems.html">General Problems</a></li>
                <li><a class="page-link" href="/diagnostic-ultrasound.html">Diagnostic Ultrasound</a></li>
                <li>
                  <a class="page-link" href="/pregnancy.html">Pregnancy <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a class="page-link" href="/heartburn.html">Painful Ribs and Heartburn During Pregnancy</a></li>
                    <li><a class="page-link" href="/pubicpain.html">Groin and Pubic Pain During Pregnancy</a></li>
                    <li><a class="page-link" href="/posturaladvice.html">Postural Advice During Pregnancy</a></li>
                  </ul>
                </li>
                <li>
                  <a class="page-link" href="/postnatal.html">Post Natal <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a class="page-link" href="/lowerbackpain.html">Lower Back Pain</a></li>
                    <li><a class="page-link" href="/pelvicfloor.html">Osteopathy and the pelvic floor</a></li>
                  </ul>
                  </li>
                <li><a class="page-link" href="/babies.html">Osteopathy for Babies</a></li>
                <li><a class="page-link" href="/flat-head-syndrome.html">Flat Head Syndrome / Plagiocephaly</a></li>
                <li><a class="page-link" href="/children-osteopathy.html">Children's Osteopathy</a></li>
                <li><a class="page-link" href="/cranialosteopathy.html">Cranial Osteopathy</a></li>
                <li><a class="page-link" href="/sports-osteopathy.html">Sports Injuries</a></li>
              </ul>
            </li>
            <li><a class="page-link" href="/about.html">About Us</a></li>
            <li><a class="page-link" href="/testimonials.html">Testimonials</a></li>
            <li><a class="page-link" href="/appointments.html">Appointments</a></li>
            <li><a class="page-link" href="/practitioners.html">Practitioners</a></li>
            <li><a class="page-link" href="https://kaneandross.wordpress.com/" target="_blank">Blog</a></li>
            <li><a class="page-link" href="/contact.html">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </nav>


  </div>

</header>
