<header class="site-header" role="banner">

  <div class="wrapper">
    <div id="banner">
      <div class="container">
        <div id="logo">
          <a class="site-title" href="/"><img src="/assets/images/osteopath-london-logo.png" alt="London Osteopath Logo" width="300" height="181" /></a>
        </div>
        <div id="contact" class="clearfix">
          <div id="address">
            <p class="address">Harley Street, London W1G 8QH</p>
            <p class="address">73 Courtfield Gardens, London SW5 0NL</p>
          </div>
          <div id="tel">
            <div class="td">
              <p><a class="phone" href="tel:+4420 7436 9007">020 7436 9007</a> <a class="book" href="/book" title="Book an appointment">book an appointment</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-default">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="container">
          <ul class="nav navbar-nav">
            {% assign pages = site.pages | sort:"order"  %}
            {% for p in pages %}
            {% if p.title %}
            <li><a class="page-link" href="{{ p.url | relative_url }}">{{ p.title | escape }}</a></li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>


  </div>

</header>
