<section id="testimonials">
  <div class="container">
    <div id="text-carousel" class="carousel slide" data-ride="carousel" data-interval="9000">
      <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <div class="carousel-content">
                <div>
                  <p>Rare experts; I left with peace of mind<br /><span class="source">Rebecca Newman, Harpers Bazaar</span></p>
                </div>
              </div>
            </div>
            <div class="item ">
              <div class="carousel-content">
                <div>
                  <p>I have only had positive feedback from patients<br /><span class="source">Dr Ebba Nielson, SW1</span></p>
                </div>
              </div>
            </div>
            <div class="item ">
              <div class="carousel-content">
                <div>
                  <p>I am delighted to refer my patients here<br /><span class="source">Dr Elaine Tickle, Harley Street</span></p>
                </div>
              </div>
            </div>
            <div class="item ">
              <div class="carousel-content">
                <div>
                  <p>A well organised team providing a first class service<br /><span class="source">Karl Murphy MD, St Mary's Hospital</span></p>
                </div>
              </div>
            </div>
            <div class="item ">
              <div class="carousel-content">
                <div>
                  <p>Simone Ross has always been a wonderful support<br /><span class="source">Jeffrey Braithwaite, The Portland Hospital</span></p>
                </div>
              </div>
            </div>
            <div class="item ">
              <div class="carousel-content">
                <div>
                  <p>I highly recommend them to any new mother.<br /><span class="source">Clare Byam-Cook, Midwife</span></p>
                </div>
              </div>
            </div>
            <div class="item ">
              <div class="carousel-content">
                <div>
                  <p>Excellent osteopathy for mother and newborn baby<br /><span class="source">Beth Graham, Lactation Consultant</span></p>
                </div>
              </div>
            </div>

          </div>
      <!-- Controls --> <a class="left carousel-control" href="#text-carousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
      <a class="right carousel-control" href="#text-carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>

  </div>
</section>